/* body {font-family:"Times New Roman", serif} */
h1{font-family: Georgia, cursive; 
font-size: 40px;
font-weight: bolder;
color: white;}
h2{font-family: 'Waiting for the Sunrise', cursive; 
    font-size: 40px;
    font-weight: bolder;
}
h3{
font-size: 30px;
}